* {
    box-sizing: border-box;
}
#welcome-body {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(34, 0, 255);
}
#search-input {
    height: 15px;
    width: 150px;
}

#welcome-container {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
#welcome-template {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#back-word {
    font-family: "Anton", sans-serif;
    font-size: 120px;
    display: flex;
    margin-left: 30px;
    color: black;
}
#white-word {
    font-family: "Anton", sans-serif;
    font-size: 120px;
    display: flex;
    margin-left: 30px;
    color: whitesmoke;
}
#register-container {
    width: 10vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: "Nunito Sans", sans-serif;
}
#register-container h1 {
    /* width: 10vw; */
    font-family: "Nunito Sans", sans-serif;
}
input {
    height: 35px;
    width: 250px;
    font-size: 16px;
    border: 1px solid lightgrey;
    background: none;
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 15px;
    color: whitesmoke;
    outline: none;
    padding: 5px;
}
button {
    height: 35px;
    width: 7rem;
    background-color: #1a1a1a;
    border: 1px whitesmoke solid;
    color: whitesmoke;
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    cursor: pointer;
    margin-left: 3px;
    margin-top: 15px;
    margin-bottom: 30px;
    outline: none;
}
#log-in {
    color: whitesmoke;
}
#login-container {
    width: 10vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: "Nunito Sans", sans-serif;
}
/* /////APP///// */
.header {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(34, 0, 255);
}
#logo-kk {
    font-family: "Anton", sans-serif;
    font-size: 60px;
    color: whitesmoke;
    height: 30px;
    width: auto;
    position: absolute;
    left: 35px;
    bottom: 3px;
}
#profile-image {
    height: 70px;
}
#profile-image.normal {
    height: 70px;
    border-radius: 50px;
    width: auto;
    position: absolute;
    right: 25px;
    bottom: 15px;
}
#profile-image.xl {
    height: 300px;
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column; */
}
.users-pic {
    height: 150px;
    width: 150px;
    object-fit: cover;
}
/* /////UPLOADER///// */
.modal-appear {
    position: fixed;
    height: 200px;
    top: 100px;
    left: 0;
    right: 0;
    background-color: rgb(34, 0, 255);
    /* z-index: 33333; */
    color: whitesmoke;
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 40px;
}
.inputfile {
    width: 300px;
}
/* /////PROFILE///// */

.profile {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
#profile-names {
    margin-top: 320px;
}
/* /////BIOEDITOR///// */
.bioeditor {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.bioeditor textarea {
    background-color: white;
    color: black;
    font-family: "Nunito Sans", sans-serif;
    outline: none;
    padding: 5px;
    font-size: 16px;
    width: 300px;
}
#add-bio {
    color: black;
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}
.friend-button {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
/* ///////FIND FRIENDS//////// */
.find-friends {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: flex-start;
    margin-left: 34px;
}
.find-friends h2 {
    font-family: "Nunito Sans", sans-serif;
}
#search-input {
    height: 35px;
    width: 250px;
    font-size: 16px;
    border: 1px solid black;
    background: none;
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 15px;
    color: black;
    outline: none;
    padding: 5px;
}

/* ///////SOCKETS//// */

.chat-messages {
    height: 300px;
    overflow-y: scroll;
}
