* {
    background-color: white;
}
#circle-logo {
    height: 100px;
    /* width: 100px; */
}
#profile-image {
    height: 100px;
}
#profile-image.xl {
    height: 300px;
}
.users-pic {
    height: 150px;
    object-fit: cover;
}
#search-input {
    height: 30px;
    width: 150px;
    margin-top: 20px;
}
